.card1{
    width: 720px;
    height: 64px;
}

.card2{
    width: 720px;
    height: 126px;
}
.card3{
    width: 370px;
    height: 180px;
}
.gb{
    width: 36px;
    height: 36px; 
    margin-left: 594px;
}