.card1{
    width: 720px;
    height: 64px;
}

.card2{
    width: 720px;
    height: 126px;
}
.card3{
    width: 370px;
    height: 180px;
}
.gb{
    width: 36px;
    height: 36px; 
   
}
.sr2{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    color:white;
    background-color: 1px solid #8E8E93;
}